:root {
  --main-font: bebas-neue, sans-serif;

  --main-font-weight: 400;

  --main-font-style: normal;

  --second-font: europa, sans-serif;

  --second-font-weght: 400;

  --second-font-style: normal;
}

* {
  margin: 0;
}
#svg_timeline svg {
    width: 100%;
    height: 100%;
    margin-bottom: 30vw;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
   }

 #point1 .cls-83 {
  opacity: 0;
  transition: all 1s ease-out;
 }  
 #trump > circle:nth-child(3) {
  opacity: 0;
  transition: all 1s ease-out;
 }
 #trump > ellipse {
  opacity: 0;
  transition: all 1s ease-out;
 }
footer {
  display: flex;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 50px;
  background: #0f1359;
  box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.75);
}
footer img {
  width: 50px;
  padding-right: 10px;
}
footer h1 {
  font-size: 1.2em;
  color: white;
  font-family: BebasNeue-Regular, Bebas Neue;
  letter-spacing: 0.05em;

  width: 100%;
  align-self: center;
  padding-left: 10px;

  font-family: var(--main-font);

  font-weight: var(--main-font-weight);

  font-style: var(--main-font-style);
}

/*Scroll classes default / Start*/
.hide {
    opacity: 0;
    transition: all 1s ease-out;
} 
.left {
  transform: translateX(-50px);
  transition: all 1s ease-out;
}
.right {
  transform: translateX(50px);
  transition: all 1s ease-out;
}

/*Scroll classes animation / End*/
.infoboxStyles {
  cursor: pointer;
  transition: all 1s ease-out;
}
.infoboxStyles:hover {
  opacity: 0.8;
}

.skewLeft {
  transform: translateX(0);
}
.skewRight {
  transform: translateX(0);
}

.dateAnimation {
    opacity: 1;
}

.lineAnimation {
    stroke-dasharray: 800;
    stroke-dashoffset: 0;
    animation: dash 1s linear forwards;
}   
@keyframes dash {
    from {
        stroke-dashoffset: 800;
        opacity: 0;
    }
    to {
        stroke-dashoffset: 0;
        opacity: 1;
    }
}

  /*MODAL*/
  .modal {
    position: fixed;
    bottom: -1150px;
    right: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    transition: 1s;

  }
  .content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    
    "TextCon Img";


    width: 90%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    bottom: 0;
    right: 0;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2), 0px 4px 10px rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    transition: 1s;

    background: white;
    z-index: 1;
  }

  .text_con {
    display: flex;
    flex-direction: column;
    grid-area: TextCon;
  }

  .modal .title {
    font-size: 2em;
    padding: 10px;

    color: #d90b0b;
    
    font-family: var(--main-font);

    font-weight: var(--main-font-weight);

    font-style: var(--main-font-style);
  }
  .modal .text {
    padding: 10px;
    
    font-family: var(--second-font);

    font-weight: var(--second-font-weight);

    font-style: var(--second-font-style);
  }
  .modal a {
    font-family: var(--main-font);
    font-weight: var(--main-font-weight);
    font-style: var(--main-font-style);
    padding: 10px;
    margin: 10px;
    width: 100px;
    margin-top: 10px;
    color: black;
    text-align: center;
    text-decoration: none;
    font-weight: 800;
    border: 2px solid black;
  }
  .modal a:hover {
    opacity: .5;
  }
  .image {
    width: 600px;
    padding: 10px;
  }

  .close {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 2em;
    font-weight: 800;
    padding: 10px;
    cursor: pointer;
    transform: rotate(45deg);
  }
.close:hover {
    opacity: 0.5;
  }
  /*MODAL END*/
  .cls-1, .cls-25, .cls-96 {
    fill: #d90b0b;
  }

  .cls-100, .cls-2 {
    fill: #0f1359;
  }

  .cls-3, .cls-32, .cls-54, .cls-7, .cls-82 {
    font-size: 22px;
  }

  .cls-3, .cls-69, .cls-82, .cls-83 {
    fill: #fff;
  }

  .cls-100, .cls-3, .cls-32, .cls-54, .cls-7, .cls-82, .cls-83 {
    font-family: BebasNeue-Regular, Bebas Neue;
  }

  .cls-3, .cls-32, .cls-8 {
    letter-spacing: 0.02em;
  }

  .cls-104, .cls-107, .cls-33, .cls-4, .cls-81, .cls-95 {
    fill: none;
  }

  .cls-4 {
    stroke: #d90b0b;
    stroke-width: 10px;
  }

  .cls-104, .cls-33, .cls-4, .cls-81, .cls-95 {
    stroke-miterlimit: 10;
  }

  .cls-5 {
    letter-spacing: -0.05em;
  }

  .cls-6 {
    letter-spacing: 0.03em;
  }

  .cls-7 {
    letter-spacing: -0.02em;
  }

  .cls-9 {
    letter-spacing: 0.05em;
  }

  .cls-10 {
    letter-spacing: 0.02em;
  }

  .cls-11 {
    letter-spacing: -0.02em;
  }

  .cls-12 {
    letter-spacing: 0.05em;
  }

  .cls-13 {
    letter-spacing: 0.03em;
  }

  .cls-14 {
    letter-spacing: 0.04em;
  }

  .cls-15 {
    letter-spacing: 0.02em;
  }

  .cls-16 {
    letter-spacing: -0.02em;
  }

  .cls-17 {
    letter-spacing: -0.06em;
  }

  .cls-18, .cls-82 {
    letter-spacing: -0.01em;
  }

  .cls-19 {
    letter-spacing: 0.03em;
  }

  .cls-20 {
    letter-spacing: 0.19em;
  }

  .cls-21, .cls-54 {
    letter-spacing: 0.03em;
  }

  .cls-22 {
    letter-spacing: -0.05em;
  }

  .cls-23 {
    letter-spacing: 0.02em;
  }

  .cls-24 {
    letter-spacing: 0.03em;
  }

  .cls-25 {
    font-size: 30px;
  }

  .cls-25, .cls-96 {
    font-family: MightyBrush, Mighty Brush;
  }

  .cls-26 {
    letter-spacing: -0.02em;
  }

  .cls-27 {
    letter-spacing: -0.02em;
  }

  .cls-28 {
    letter-spacing: -0.04em;
  }

  .cls-29 {
    letter-spacing: -0.01em;
  }

  .cls-30 {
    letter-spacing: 0.05em;
  }

  .cls-31 {
    letter-spacing: 0.03em;
  }

  .cls-104, .cls-33 {
    stroke: #0f1359;
  }

  .cls-33 {
    stroke-width: 5px;
  }

  .cls-34 {
    letter-spacing: -0.07em;
  }

  .cls-35 {
    letter-spacing: -0.09em;
  }

  .cls-36 {
    letter-spacing: -0.02em;
  }

  .cls-37 {
    letter-spacing: -0.03em;
  }

  .cls-38 {
    letter-spacing: 0.1em;
  }

  .cls-39 {
    letter-spacing: 0.03em;
  }

  .cls-40 {
    letter-spacing: 0.1em;
  }

  .cls-41 {
    letter-spacing: 0.02em;
  }

  .cls-42 {
    letter-spacing: 0.13em;
  }

  .cls-43 {
    letter-spacing: 0.03em;
  }

  .cls-44 {
    letter-spacing: 0.01em;
  }

  .cls-45 {
    letter-spacing: 0.07em;
  }

  .cls-46 {
    letter-spacing: 0.07em;
  }

  .cls-47 {
    letter-spacing: 0.02em;
  }

  .cls-48 {
    letter-spacing: -0.05em;
  }

  .cls-49 {
    letter-spacing: -0.05em;
  }

  .cls-50 {
    letter-spacing: -0.13em;
  }

  .cls-51 {
    letter-spacing: -0.03em;
  }

  .cls-52 {
    letter-spacing: 0.09em;
  }

  .cls-53 {
    letter-spacing: -0.02em;
  }

  .cls-55 {
    letter-spacing: -0.05em;
  }

  .cls-56 {
    letter-spacing: 0.02em;
  }

  .cls-57 {
    letter-spacing: -0.07em;
  }

  .cls-58 {
    letter-spacing: -0.12em;
  }

  .cls-59 {
    letter-spacing: 0.03em;
  }

  .cls-60 {
    letter-spacing: 0.09em;
  }

  .cls-61 {
    letter-spacing: 0.01em;
  }

  .cls-62 {
    letter-spacing: 0.09em;
  }

  .cls-63 {
    letter-spacing: -0.05em;
  }

  .cls-64 {
    letter-spacing: -0.03em;
  }

  .cls-65 {
    letter-spacing: 0em;
  }

  .cls-66 {
    letter-spacing: -0.07em;
  }

  .cls-67 {
    letter-spacing: -0.06em;
  }

  .cls-68 {
    letter-spacing: 0.05em;
  }

  .cls-70 {
    letter-spacing: 0.03em;
  }

  .cls-71 {
    letter-spacing: -0.03em;
  }

  .cls-72 {
    letter-spacing: -0.02em;
  }

  .cls-73 {
    letter-spacing: 0.02em;
  }

  .cls-74 {
    fill: #e2c391;
  }

  .cls-75 {
    fill: #f2a35e;
  }

  .cls-76 {
    fill: #f2d399;
  }

  .cls-77 {
    fill: #e5965c;
  }

  .cls-78 {
    fill: #4147bf;
  }

  .cls-79 {
    fill: #d88d56;
  }

  .cls-80 {
    fill: #d92332;
  }

  .cls-81 {
    stroke: #e5965c;
  }

  .cls-104, .cls-81 {
    stroke-width: 3px;
  }

  .cls-83 {
    font-size: 25px;
  }

  .cls-100, .cls-83 {
    letter-spacing: 0.03em;
  }

  .cls-84 {
    letter-spacing: 0.01em;
  }

  .cls-85 {
    letter-spacing: 0.02em;
  }

  .cls-86 {
    letter-spacing: 0.04em;
  }

  .cls-87 {
    letter-spacing: -0.01em;
  }

  .cls-88 {
    letter-spacing: 0.02em;
  }

  .cls-89 {
    letter-spacing: 0.02em;
  }

  .cls-90 {
    letter-spacing: 0.03em;
  }

  .cls-91 {
    letter-spacing: 0.02em;
  }

  .cls-92 {
    letter-spacing: 0.02em;
  }

  .cls-93 {
    letter-spacing: 0.02em;
  }

  .cls-94 {
    letter-spacing: 0.02em;
  }

  .cls-95 {
    stroke: #fff;
    stroke-width: 2px;
  }

  .cls-96 {
    font-size: 120px;
  }

  .cls-97 {
    letter-spacing: -0.05em;
  }

  .cls-98 {
    letter-spacing: 0em;
  }

  .cls-99 {
    letter-spacing: -0.06em;
  }

  .cls-100 {
    font-size: 20px;
  }

  .cls-101 {
    letter-spacing: 0.02em;
  }

  .cls-102 {
    letter-spacing: 0.02em;
  }

  .cls-103 {
    letter-spacing: 0.03em;
  }

  .cls-105 {
    fill: #c40d3c;
  }

  .cls-106 {
    fill: #00205c;
  }

  .cls-107 {
    stroke: #000;
    stroke-width: 0.1px;
  }